################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestingMigration/FileContentIndex/59a8548b-a079-465b-b9e8-b5a88bd8b91b.vsidx
